.root {
	-fx-background-color: #242529;
}

.button {
	-fx-background-color: #3071a9;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 8 15 8 15;
	-fx-border-radius: 32;
	-fx-background-radius: 32;
}

.button:hover {
	-fx-cursor: hand;
}

.container {
	-fx-background-color: linear-gradient(
		from 0% 0% to 100% 100%,
		#373940 0%,
		#3b3c43 100%
	);
	-fx-padding: 30;
	-fx-spacing: 10;
	-fx-alignment: center;
	-fx-border-radius: 32;
	-fx-background-radius: 32;
}

.container-2 {
	-fx-background-color: #fff27a;
	-fx-padding: 30;
	-fx-spacing: 10;
	-fx-alignment: center;
	-fx-border-radius: 32;
	-fx-background-radius: 32;
}

.text-field {
	-fx-background-color: #4c4c52;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 8 15 8 15;
	-fx-border-radius: 32;
	-fx-background-radius: 32;
}

.button-generate {
	-fx-background-color: #32a930;
}

.button-download {
	-fx-background-color: rgb(48, 113, 169);
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.scroll-bar:vertical {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: darkgrey;
	-fx-background-insets: 2;
	-fx-background-radius: 5;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: rgba(0, 0, 0, 0);
}

.scroll-bar:horizontal {
	-fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: darkgrey;
	-fx-background-insets: 2;
	-fx-background-radius: 5;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: rgba(0, 0, 0, 0);
}



.combo-box .list-cell 
{
    -fx-background: #4c4c52;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 8 15 8 15;
	-fx-border-radius: 32;
	-fx-background-radius: 32;
    -fx-text-fill: white;
}

.combo-box-popup .list-view 
{
    -fx-background-color: #4c4c52, #4c4c52;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;
    -fx-background-color: #4c4c52;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #4c4c52;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-background-color: #4c4c52, #4c4c52, #4c4c52, #4c4c52;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
	-fx-border-radius: 32;
	-fx-background-radius: 32;
}